!!!
%html{ ng: { app: 'amass.app' } }
  %head
    %base{ href: '/' }
    %title Amass Media — Tell stories that matter

    %link{ rel: 'subresource', href: asset_path('home-main-image.jpg') }
    %link{ rel: 'apple-touch-icon-precomposed', href: asset_path('apple-touch-icon.png') }
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'slick'

    = include_gon(camel_case: true, camel_depth: :recursive)
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'mixpanel_and_overrides'

    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

  %body.ng-cloak
    %ng-include{ src: "'top_bar/view.html'" }
    %ng-view
    %br.break-topbar
    = javascript_include_tag 'application'

    :javascript
      angular.module('amass.app').config(function (assetPathProvider) {
        assetPathProvider.setAssets(#{read_asset_manifest});
      });
