<!DOCTYPE html>
<html ng-app="amassApp">
<head>
  <title>Amass Media — Tell stories that matter</title>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
